<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Mainpage</title>
</head>
<header>
    <nav class="navbar"><a href="/">TorneoMaker</a>
    <div class="navlinks">
        <ul>
            <li><a href="/register" class="">Inscription</a></li>
            <li><a href="/login" class="">Connexion</a></li>
        </ul>
    </div>
    </nav>
</header>
<body>
    <div class="corps">
    <div class="options">
        <a href="/addplayer" class="">Ajouter un joueur</a>
        <a href="/allplayers" class="">Liste des joueurs</a>
        <a href="/show_matches" class="">Liste des matchs</a>
        <a href="/new_match" class="">Ajouter un match</a>
        <a href="/gentourn" class="">Tournoi</a>
    </div>
    </div>
</body>
    
