<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/styles/style.css">
    <title>Nouveau Match</title>
</head>
<header>
    <nav class="navbar"><a href="/">TorneoMaker</a></nav>
    
</header>
<body>
    <div class="corps">
    <h1>Nouveau Match</h1>
    <br>
    <form method="POST" action="/new_match">
        <label for="player1">Joueur 1 :</label>
        <select name="player1" id="player1">
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>

        <label for="player2">Joueur 2 :</label>
        <select name="player2" id="player2">
            {% for player in players %}
                <option value="{{ player.id }}">{{ player.name }}</option>
            {% endfor %}
        </select>

        <label for="winner">Joueur gagnant :</label>
        <select name="winner" id="winner">
            <option value="match_nul">Match nul</option>
        </select>

        <script>
            document.getElementById('player1').addEventListener('change', updateWinnerOptions);
            document.getElementById('player2').addEventListener('change', updateWinnerOptions);
    
            function updateWinnerOptions() {
                var player1Id = document.getElementById('player1').value;
                var player2Id = document.getElementById('player2').value;
    
                var winnerSelect = document.getElementById('winner');
                winnerSelect.innerHTML = ''; // Clear current options
    
                var matchNulOption = document.createElement('option');
                matchNulOption.value = 'match_nul';
                matchNulOption.text = 'Match nul';
                winnerSelect.appendChild(matchNulOption);
    
                if (player1Id !== player2Id) {
                    var player1Option = document.createElement('option');
                    player1Option.value = player1Id;
                    player1Option.text = 'Joueur 1';
                    winnerSelect.appendChild(player1Option);
    
                    var player2Option = document.createElement('option');
                    player2Option.value = player2Id;
                    player2Option.text = 'Joueur 2';
                    winnerSelect.appendChild(player2Option);
                }
            }
        </script>


        <button type="submit">Enregistrer le match</button>
    </form>
    <br>
    <a href="{{ url_for('show_matches') }}" class="link">Retour à la liste des matches</a>
    </div>
</body>
</html>

